.loginContainer{
    background-color:rgb(75, 147, 255);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .buttonContainer{
        width: 80%;
        height: 50%;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        button{
            width: 80%;
            height: 40px;
            border-radius: 10px;
            background-color: #ffffff;
            margin: 10px 0;
            border: none;
            box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
            color:rgb(75, 147, 255);
            font-size: 17px;
        }
        span{
            color: #ffffff;
            font-size: 17px;
        }
    }
    .FormContainer{
        background-color: #ffffff;
        width: 80%;
        height: auto;
        border-radius: 10px;
        padding: 20px 0;
        .buttonsRegisterContainer{
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            button{
                height: 50px;
                border-radius: 10px;
                margin: 10px 0;
                width: 120px;
                border: none;
                box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
                font-size: 17px;
                background-color: #ffffff;
                color: rgb(53, 53, 53);
                &:focus{
                    outline: none;
                }
                &.selected{
                    background-color:rgb(75, 147, 255);
                    color: #ffffff;
                }
            }
        }
        form{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            input{
                width: 80%;
                height: 40px;
                border: none;
                border-radius: 10px;
                margin: 10px 0;
                box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
                text-align: center;
                font-size: 17px;
                &:focus{
                    outline: none;
                }
                &::placeholder{
                    font-size: 17px;
                }
            }
            button{
                width: 80%;
                font-size: 17px;
                height: 40px;
                border-radius: 10px;
                background-color:rgb(75, 147, 255);
                margin: 10px 0;
                border: none;
                box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
                color: #ffffff;
            }
        }
    }
}