.myEventsContainer{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 90%;
    overflow: auto;
    margin: 5% 0;
    box-shadow: inset 0px 0px 16px 1px rgba(255,255,255,1);
    position: relative;
    &::-webkit-scrollbar{
        width: 0px;
        visibility: hidden;
    }
    .noEvents{
        display: flex;
        align-items: center;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        svg{
            font-size: 100px;
            color: rgb(149, 157, 163);
        }
    }
}